@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - party_cop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<div class="main">
    <h1 class="about-header">About the Party</h1>
    <div class="about-description">
        You're Invited to A Pumpking Carving Halloween Party.
        The theme of the party is UCF athletic team, so you have to come with the UCF themed costume.
        <br />
        Sunday, October 31.
        <br />
        1 PM - 4 PM
        <br />
        1313 Jack Lantern Drive, Spookytown
        <br />
        B.Y.O.P. (Bring Yout Own Pumpkin)
        <br />
        <a asp-area="" asp-action="RsvpForm">RSVP</a> here by Oct. 17
        <br />
        Join Us For A UCF themed Halloween Pumpkin Carving Party. We've got food and drinks!
    </div>
</div>