@{
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - party_cop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="main" style="color: black;">
        <img src="/Images/UCF.png" width="150" height="113">
        <div>UCF</div>
        <div class="description">
            The UCF Knights are the athletic teams that represent the University of Central Florida in Orlando,
            Florida. The Knights participate in the National Collegiate Athletic Association's Division I as a
            member of the American Athletic Conference. We are looking for more Halloween costumes with a UCF thematic.
        </div>
        <br />
        <img src="/Images/Halloween.png" width="150" height="113">
        <div>Halloween</div>
        <div class="description">
            Halloween or Hallowe'en (a contraction of "All Hallows' evening"), less commonly known as Allhalloween, All
            Hallows' Eve, or All Saints' Eve, is a celebration observed in many countries on 31 October, the eve of the
            Western Christian feast of All Hallows' Day. It begins the observance of Allhallowtide, the time in the
            liturgical year dedicated to remembering the dead, including saints (hallows), martyrs, and all the
            departed.
        </div>
        <br />
        <img src="/Images/Orlando.png" width="150" height="113">
        <div>Orlando City</div>
        <div class="description">
            Orlando, a city in central Florida, is home to more than a dozen theme parks. Chief among its claims to fame
            is Walt Disney World, comprised of parks like the Magic Kingdom and Epcot, as well as water parks. Another
            major destination, Universal Orlando, offers Universal Studios and Islands of Adventure, with the Wizarding
            World of Harry Potter straddling both.
            <br />
            It's the city where we are organizing this Halloween party!
        </div>
        <br />
        <img src="/Images/Alisher.png" width="150" height="113">
        <div>Alisher Sultangazin</div>
        <div class="description">
            University of Central Florida student that is organizing this Halloween Party. I'm a Computer Science
            student trying to find connections.
        </div>
    </div>

</body>