@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    We're going to have an exciting party!
    <br />
    And YOU are invited!
    <br />
    <button>
        <a class="nav-link text-dark" asp-area="" asp-action="RsvpForm">RSVP Now</a>
        @*<a href="Pages/rsvp.html">RSVP Now</a>*@
    </button>
</div>